body{
    background-image:radial-gradient(dimgrey,White);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
header{
    padding: 0;
    margin: 0;
    height: 250px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    background-image:linear-gradient(rgb(130, 1, 243),rgb(169, 101, 228)) ;
}
nav{
    display: inline-block;
    padding: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    position: fixed;
    top: 0;
    background-image:linear-gradient(rgb(44, 44, 44),#161616) ;  
    color: #ffffff; 
}
main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 405px;
    display: block;
    width: 1300px;
    background-color: #ffffff;
}

footer{
    display: flexbox;
    background-image:linear-gradient(rgb(44, 44, 44),#161616);
    width:100%;
    height: 350px;
    bottom: 0;
    padding: 50px; 
    align-items: center;
    text-align: center; 
}
nav img{
    margin: 5px;
    margin-left: 15px;
    width: 40px;
    position: relative;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    top:0;
    position: inherit;
    display: inline-flex;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color:lime;
}
#titulo{
    display: inline-flex;
    top: -20px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100px;
}

.img{
    width: 100%;
    height: 150%;
}

footer ul{
    position: relative;
    color: #ffffff;
    text-align: center;
    top: 20px;
    font-size: 22px;
}

#copyright{
    font-size: 25px;
}

.img-icone{
    width: 20px;

}

.img-icone:hover{
    width: 25px;
}

form{
    position: relative;
    padding-left: 80%;
    top: -250px;
}

form input{
    display: block;
    margin: 0 0 20px;
    padding: 0 0 15px;
    width: 80%;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px;
    width: 75.5%;
}

.enviar{
    width: 28%;
    padding: 4px;
    margin-left: 190px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    bottom: 10px;
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);
}
footer article{
    display:inline-block;
}

ol{
    position:absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 235px;
    display: flex;
}

article ol li{
    top: 16px;
    position: relative;
    list-style: none;
    height: 100%;
    background: transparent;
    box-shadow: 5px 0 5px rgba(0,0,0,.2);
    animation: bgColor infinite linear 5s;
}
ol li{
    list-style: none;
    width: 10%;
    height: 100%;
    background: transparent;
   
}
.titulo{
    z-index: 11;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:12%;    
    font-size:100px;
    color: white;
}

@keyframes bgColor{

    0%{
        background: rgb(38, 6, 243);
    }
    20%{
        background: #5f2fed;
    }
    40%{
        background: #833fef;
    }
    60%{
        background: #8442ee; 
    }
    80%{
        background: rgb(81, 60, 235);
    }
    100%{
        background: rgb(106, 21, 217);
    }
}
ol li:nth-child(1)
{
    animation-delay: .2s;
    z-index: 10;
}
ol li:nth-child(2)
{
    animation-delay: .4s;
    z-index: 9;
}
ol li:nth-child(3)
{
    animation-delay: .6s;
    z-index: 8;
}
ol li:nth-child(4)
{
    animation-delay: .8s;
    z-index: 7;
}
ol li:nth-child(5)
{
    animation-delay: 1s;
    z-index: 6;
}
ol li:nth-child(6)
{
    animation-delay: 1.2s;
    z-index: 5;
}
ol li:nth-child(7)
{
    animation-delay: 1.4s;
    z-index: 4;
}
ol li:nth-child(8)
{
    animation-delay: 1.6s;
    z-index: 3;
}
ol li:nth-child(9)
{
    animation-delay: 1.8s;
    z-index: 2;
}
ol li:nth-child(10)
{
    animation-delay: 2s;
    z-index: 1;
}